<% content_for :header_tags do %>
  <%= stylesheet_link_tag '/plugin_assets/chili_pdf/stylesheets/pdf' %>
<% end %>

<p>
  <label for='settings_<%= ChiliPDF::Config::HEADER_ENABLED_KEYNAME %>'><%= l(:header_enabled_label) %></label>
  <%= check_box_tag "settings[#{ChiliPDF::Config::HEADER_ENABLED_KEYNAME}]", ChiliPDF::Config::ENABLED_VALUE, ChiliPDF::Config.header_enabled? %>
</p>

<p>
  <label for='settings_<%= ChiliPDF::Config::FOOTER_ENABLED_KEYNAME %>'><%= l(:footer_enabled_label) %></label>
  <%= check_box_tag "settings[#{ChiliPDF::Config::FOOTER_ENABLED_KEYNAME}]", ChiliPDF::Config::ENABLED_VALUE, ChiliPDF::Config.footer_enabled? %>
</p>

<h3>Custom Header/Footer Content</h3>

<h4>Rules</h4>
<ol>
  <li>Any "plain text" will render, as is...</li>
  <li>
    There are a few 'variables' you can use to dynamically replace content. For example,
    you can add the current date to any page.
  </li>
  <li>All input will be escaped HTML, so injecting dynamic content via JavaScript will not work.</li>
</ol>

<table>
  <thead>
    <tr>
      <td></td>
      <td>Left</td>
      <td>Center</td>
      <td>Right</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Header</td>
      <td>
        <%= text_field_tag "settings[#{ChiliPDF::Config::HEADER_LEFT_KEYNAME}]", ChiliPDF::Config.header_values[:left] %>
      </td>
      <td>
        <%= text_field_tag "settings[#{ChiliPDF::Config::HEADER_CENTER_KEYNAME}]", ChiliPDF::Config.header_values[:center] %>
      </td>
      <td>
        <%= text_field_tag "settings[#{ChiliPDF::Config::HEADER_RIGHT_KEYNAME}]", ChiliPDF::Config.header_values[:right] %>
      </td>
    </tr>
    <tr>
      <td>Footer</td>
      <td>
        <%= text_field_tag "settings[#{ChiliPDF::Config::FOOTER_LEFT_KEYNAME}]", ChiliPDF::Config.footer_values[:left] %>
      </td>
      <td>
        <%= text_field_tag "settings[#{ChiliPDF::Config::FOOTER_CENTER_KEYNAME}]", ChiliPDF::Config.footer_values[:center] %>
      </td>
      <td>
        <%= text_field_tag "settings[#{ChiliPDF::Config::FOOTER_RIGHT_KEYNAME}]", ChiliPDF::Config.footer_values[:right] %>
      </td>
    </tr>
  </tbody>
</table>

<div id="pdf-token-help">
  <h4>Dynamic text legend</h4>
  <table>
    <thead>
      <tr>
        <td>Enter this</td>
        <td>...to show this</td>
      </tr>
    </thead>
    <tbody>
      <%- ChiliPDF::TokenManager.tokens.each do |token| %>
        <tr>
          <td class="token"><%= token.matcher_with_delimiters %></td>
          <td class="description"><%= token.description %></td>
        </tr>
      <%- end %>
    </tbody>
  </table>
</div>
